# Github repo for the Azure Terraform assets.
# AZURE_REPO=grove-mountain/terraform-azure-compute-instance

# The name to put in the owner tag
# OWNER=jlundberg

# Azure region to launch resources into
# AZURE_REGION="West US"
REGION="West US"

# Environments to create for Azure
# Each of these will create a separate workspace based off from a branch of the same name
# ENVIRONMENTS="dev qa prod"
ENVIRONMENTS="dev qa prod"

# Root name of the workspaces to create.
# WORKSPACE_PREFIX=azure-vm
WORKSPACE_PREFIX=azure-vm

# Root name of the workspaces to create.
#INSTANCE_TYPE=Standard_B1s
INSTANCE_TYPE=Standard_B1s

# Time to Live value for the nodes in hours
# TTL="24"
TTL="24"

# The CIDR notation for the Virtual Network Address space
# This is a list value that must retain its quotes so wrapping on single quotes
# VN_ADDRESS_SPACE='["10.0.0.0/16"]'
VN_ADDRESS_SPACE='["10.0.0.0/16"]'

# Subnet CIDR for placing assets into
# SB_ADDRESS_PREFIX=10.0.1.0/24
SB_ADDRESS_PREFIX=10.0.1.0/24

# The admin password for the server created
# ADMIN_PASSWORD=8675309-Jenny
ADMIN_PASSWORD=8675309-Jenny
